<div>
  <ng-container *ngIf="isActive">
 <p class="mx-5"> Количество элементов: {{tickets?.length || 0}}</p>
 <p class="mx-5 mt-2">Активный элемент: {{blockDirective?.activeElementIndex}}</p>
  </ng-container>

    <div>
    <p class="mx-5">
    Найти тур <input #ticketSearch [(ngModel)]="ticketSearchValue" type="text" pInputText />
  </p>
    </div>
<div appBlockStyle
     *ngIf="tickets"
     #tourWrap
     #blockDirective='blocksStyle'
     [selector]="'.ticket-item'"
     [initFirst]="false"
     (renderComplete)="directiveRenderComplete($event)"
 class="d-flex flex-wrap justify-content-around">
  <div class="ticket-item col-3 m-2"
       (click)="goToTicketInfoPage(item)"
    *ngFor="let item of tickets; let i = index">
    <div class="ticket-title">{{item.name}}</div>
    <div class="ticket-img">
      <img class="w-100" src="/assets/img/{{item.img}}/" alt="">
    </div>
  </div>
</div>
</div>
